legend {
    font-size: 16px;
}

 .well {
            background-color: rgb(22, 105, 173);
        }

h2.well {
    color: #d0232d;
}

div#ui-content-senddata {
     border: 5px solid white; 
}

legend {
    color: white;
}